@model SendInvitePermissionViewModel

@{
    ViewBag.Title = "SendInvite";
}

<h2>SendInvite</h2>

@using (Html.BeginForm(MVC.AdministrationArea.UserManagement.SendInvite_Post(), FormMethod.Post))
{
    <span>Email: @Html.TextBoxFor(m => m.Email)</span>
    <span>Roles: @Html.ListBoxFor(m => m.AvailableRoles, Model.AvailableRoles.Select(role => new SelectListItem() { Text = role, Value = role }))</span>
    <input type="submit"/>
}
