<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EmailClients" type="BGC.Services.SmtpClientConfigurationSection,BGC.Services"/>
  </configSections>
  
  <EmailClients>
    <SmtpClients>
      <add Sender="none" Purpose="InvitationSender" UserName="user" Password="password" Host="smtp.smtp-server.domain" Port="587" EnableSsl="true" DeliveryMethod="Network"/>
      <add Sender="none" Purpose="InvalidPort" Port="0" UserName="user" Password="password" Host="smtp.smtp-server.domain" EnableSsl="true" DeliveryMethod="Network"/>
    </SmtpClients>
  </EmailClients>
</configuration>