@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @if (IsDebugBuild)
    {
        <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    }
    else
    {
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    }
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
