<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <header>
            @using (Html.BeginForm(MVC.Public.Main.ActionNames.Search, MVC.Public.Main.Name, FormMethod.Get, new { target = "_self" }))
            {
                <input name="query" />
                <input type="submit" value="@Localize(Public.Main.SearchCaption)" />
            }
        </header>
        @RenderBody()
        <footer></footer>
        @RenderSection("scripts", required: false)
    </body>
</html>