@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@Html.BeginForm("Login", "Administration", FormMethod.Post)
{
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="submit"/>
}
