@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    @foreach (char group in Model.Alphabet)
    {
        <div class="dropdown center">
            <a class="dropbtn center text-primary">@group</a>
            <div class="dropdown-content">
                @foreach (ComposerArticle link in Model.Articles.ContainsKey(group) ? Model.Articles[group] : Enumerable.Empty<ComposerArticle>())
                {
                    @Html.ActionLink(link.LocalizedName.GetEasternOrderFullName(), MVC.Public.Main.Read(link.StorageId))
                }
            </div>
        </div>
    }
</div>