@model IEnumerable<AddComposerViewModel>

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    <div class="ui-accordion">
        <h3></h3>
        @foreach (AddComposerViewModel newEntry in Model)
        {
            <label>@string.Format("{0}:", Localize(Global.Name))</label>@Html.TextBoxFor(m => m.Name)
        }
    </div>
    <input type="submit" value="@Localize(Global.Submit)"/>
}