@model IList<AddComposerViewModel>

@{
    ViewBag.Title = "Add";
}

@section scripts
{
    @if (IsDebugBuild)
    {
    }
    else
    {   
    }
    <!-- TinyMCE is not available in an uncompressed version -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.13/tinymce.min.js" integrity="sha384-UjGxx2YJw/Y9s7bFilng+uZ6gYzCSZqfQGli4HdOmweqmbJBMGuPbkZdkmrzxUk9" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function ()
        {
            tinymce.init({
                selector: 'textarea.tinymce',
                height: 500,
                plugins: [
                  'advlist autolink lists link image charmap print preview anchor',
                  'searchreplace visualblocks code fullscreen',
                  'insertdatetime media table contextmenu paste code'
                ],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                content_css: [
                  '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                  '//www.tinymce.com/css/codepen.min.css'
                ]
            });
        });
    </script>
}

<h2>Add</h2>

@using (Html.BeginForm())
{
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne">
                        &gt;
                    </a>
                    @Model[i].Language.DisplayName:
                    @Html.TextBoxFor(m => Model[i].FullName)
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                @Html.TextAreaFor(m => Model[i].Article, new { @class = "tinymce" })
            </div>
        }
        </div>
    </div>
    <input type="submit" value="@Localize(Global.Submit)" />
}
