@{
    ViewBag.Title = "List";
}
@using BGC.Core;

@model IEnumerable<Composer>

<h2>List</h2>

@foreach (Composer composer in this.Model)
{
    @(composer.LocalizedNames.FirstOrDefault(c => c.Language.Name == "bg-BG") ?? composer.LocalizedNames.First())
}

@Html.ActionLink(Localize(Administration.Edit.List.Add_entry), MVC.Administration.Edit.Add());