@using BGC.Web.Controllers

@{
    ViewBag.Title = Localize(Administration.Edit.List.PublishedArticles);
}
@using BGC.Core;

@model ListArticlesViewModel

@section sidebar_content
{
    <div class="sidebar-actions-container">
        <div>
            <a href="@Url.Action(MVC.Administration.Edit.Add())" class="btn btn-success btn-block">
                <i class="ace-icon glyphicon glyphicon-plus"></i>
                @Localize(Administration.Edit.List.AddEntry)
            </a>
        </div>
    </div>
}

<div class="page-content">
    <div class="page-header">
        <h1>@Localize(Administration.Edit.List.PublishedArticles)</h1>
    </div>

    @foreach (Composer composer in Model.Composers)
    {
        <span class="info">
            @composer.GetName((ViewContext.Controller as  BgcControllerBase).CurrentLocale.EffectiveValue).GetEasternOrderFullName()
        </span>
    }
</div>