@using BGC.Web.Controllers
@using BGC.Utilities

@{
    ViewBag.Title = Localize(Administration.Edit.List.PublishedArticles);
}
@using BGC.Core;

@model ListArticlesViewModel

@section sidebar_content
{
    <div class="sidebar-actions-container">
        <div>
            <a href="@Url.Action(MVC.Administration.Edit.Add())" class="btn btn-success btn-block">
                <i class="ace-icon glyphicon glyphicon-plus"></i>
                @Localize(Administration.Edit.List.AddEntry)
            </a>
        </div>
    </div>
}

<div class="page-content">
    <div class="page-header">
        <h1>@Localize(Administration.Edit.List.PublishedArticles)</h1>
    </div>

    <ul class="list-unstyled">
        @foreach (Composer composer in Model.Composers.OrderBy(c => c.GetName(CurrentLocale).GetEasternOrderFullName()))
        {
            string composerName = composer.GetName((ViewContext.Controller as  BgcControllerBase).CurrentLocale.EffectiveValue).GetEasternOrderFullName();
            if (composer.HasNamesakes)
            {
                composerName = string.Format("{0} ({1})", composerName, composer.Order.ToRomanNumeral());
            }
            <li class="info">
                @Html.ActionLink(
                    linkText: composerName,
                    actionName: MVC.Administration.Edit.ActionNames.Update,
                    routeValues: new { composerId = composer.Id })
            </li>
        }
    </ul>
</div>