@model ErrorViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localize(Global.Error)</title>
</head>
<body>
    <h1>@Localize(Global.ErrorOccurredDuringRequest)</h1>
    <h2>@Model.StatusCode - @Localize(Model.Description)</h2>
    <div>
        
    </div>
</body>
</html>