@model ErrorViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localize(Global.Error)</title>
</head>
<body>
    <hgroup>
        <h1>@Localize(Global.ErrorOccurredDuringRequest) - @Model.StatusCode</h1>
        <h2>@Model.Description</h2>
    </hgroup>
    <div>
        
    </div>
</body>
</html>