@using BGC.Web.Areas.Administration.ViewModels.Permissions;

@model IEnumerable<PermissionViewModelBase>

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<ul>
    @foreach (PermissionViewModelBase permission in Model)
    {
        <li>
            @if (!string.IsNullOrEmpty(permission.ActivityUrl))
            {
                <a href="@permission.ActivityUrl">
                    @(Localize(permission.LocalizationKey))
                </a>
            }
            else
            {
                @(Localize(permission.LocalizationKey))
            }
        </li>
    }
</ul>