@using BGC.Web.Areas.Administration.ViewModels.Permissions;

@model ActivitiesViewModel

@{
    ViewBag.Title = Localize(Administration.Name);
}

@section sidebar_content
{
    <ul class="nav nav-list">
        @foreach (PermissionViewModelBase permission in Model.PermittedActions)
        {
            <li>
                <a href="@(!string.IsNullOrEmpty(permission.ActivityUrl) ? permission.ActivityUrl : "#")">
                    <span class="pull-left">@(Localize(permission.LocalizationKey))</span>
                </a>
            </li>
        }
    </ul>
}