@model PasswordResetViewModel

@{
    ViewBag.Title = "PasswordReset";
}

<h2>PasswordReset</h2>

@using (Html.BeginForm(MVC.AdministrationArea.Account.ResetPassword_Post(), FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Email)
    <input type="submit" value=""/>
}