@model RequestPasswordResetViewModel

@{
    ViewBag.Title = "PasswordReset";
}

<h2>PasswordReset</h2>

@if (Model.IsEmailSent)
{
    <div>@Localize(Administration.Account.RequestPasswordReset.PasswordResetEmailSent)</div>
}
else
{
    using (Html.BeginForm(MVC.AdministrationArea.Account.RequestPasswordReset_Post(), FormMethod.Post))
    {
        <span>
            @Localize(Administration.Account.RequestPasswordReset.TypeEmailForPasswordReset)
            @Html.TextBoxFor(m => m.Email)
        </span>
        <input type="submit" value="" />
    }
}