@model PasswordResetViewModel

@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

@if (Model.ErrorMessageKey != null)
{
    using (Html.BeginForm(MVC.AdministrationArea.Account.ResetPassword_Post(), FormMethod.Post))
    {
        @Html.PasswordFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.Conf)
    }
}
else
{
    <div>@Localize(Administration.Account.PasswordReset.UnknownEmailError)</div>
}