.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0 !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ultimate-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin-vertical-med {
    margin-top: 100px;
    margin-bottom: 100px;
}

.country-flag {
    width: 16px;
    height: 10px;
}

.public-layout #contentPlaceHolder {
    margin-top: 60px;
}

#searchForm input {
    display: inline-block;
    width: 100%;
}

.captioned-separator::before {
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #D0D0D0;
    content: "";
}

.captioned-separator {
    position: relative;
    text-align: center;
    z-index: 1;
}

.text-medium {
    font-size: 16px;
    padding: 16px;
}

span.disabled {
    color: rgb(102, 102, 102);
}

.block-before-lg {
    margin-top: 50px;
}

.emphasis-element {
    width: 80%;
}

.emphasis-element td > * {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fuck-css-centering {
    margin: 0 auto;
}

.stretch {
    width: 100%;
}

.fit-content {
    width: 1%;
    white-space: nowrap;
}

.emphasis-element {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 16px;
}

.search-result-body {
    height: 48px;
}

.search-result-link span {
    display: inline-block;
}

.search-results-container > * {
    margin-top: 20px;
    margin-bottom: 20px;
}