@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm(MVC.AdministrationArea.Authentication.ActionNames.Login, MVC.AdministrationArea.Authentication.Name, FormMethod.Post))
{
    <input type="text" name="username"/>
    <input type="password" name="password"/>
    <input type="checkbox" name="remember" value="@Localize(Administration.Authentication.Login.Remember_me)" />
    <input type="submit"/>
}